body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}

textarea{
	resize: none;
}

button{
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #b0b0b0;
	cursor: pointer;
	background-color: white;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

button:active{
	box-shadow: 0px 0px 6px 1px #888888 inset;
}

button:hover svg{
	opacity: 1;
}

button svg{
	opacity: 0.5;
}

#sideBar{
	top: 0;
	width: 300px;
	height: 100%;
	position: fixed;
	box-shadow: 2px 0px 16px #888888;
    background-color: #ececec;
    overflow: hidden;
}

#sideBarNav{
	height: 52px;
}

.navButton{
	width: 80px;
	height: 32px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	padding: 10px;
	float: left;
}

.navButton svg{
	width: 25px;
}

#elementsNavButton, #elementsHeading{
	background-color: #5E97CA;
}
#inspectNavButton, #inspectHeading{
	background-color: #CABC66;
}
#settingsNavButton, #settingsHeading{
	background-color: #D3605A;
}

.sideBarContent{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden; 
	margin-right: 3px;
	padding-left: 7px;
	padding: 5px 15px 10px 15px;
}

.sideBarContent::-webkit-scrollbar{
	background-color: #ececec;
	width: 7px;
}

.sideBarContent::-webkit-scrollbar-track{
	margin: 10px 0px 25px 0px;
}

.sideBarContent::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.2);
	border-radius: 20px;
}

.sideBarTab{
	display: none;
	/* overflow: hidden; */
	position: absolute;
	width: 100%;
	top: 105px;
	bottom: 40px;
}

.sideBarTab.active{
	display: block;
}

#fileButtons{
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: white;
	border-top: 1px solid #b0b0b0;
}

.fileButton{
	width: 100px;
	height: 100%;
	padding: 7px;
	text-align: center;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #b0b0b0;
	float: left;
	cursor: pointer;
	background-color: white;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.fileButton:active{
	box-shadow: 0px 0px 6px 1px #888888 inset;
}

.fileButton:hover svg{
	opacity: 1;
}

.fileButton svg{
	height: 25px;
	width: 21.5px;
	opacity: 0.5;
}

.tabHeading{
	display: none;
	height: 53px;
}

.tabHeading.active{
	display: block;
}

.tabHeading h4{
	text-align: center;
	font-size: 24px;
	padding: 10px 0px;
	margin: 0px;
	color: #ececec;
}

#inspect h6{
	display: inline;
	margin: 10px 0px;
	font-size: 18px;
}

#inspect button{
	float: right;
}

#elements svg{
	fill: #5E97CA;
}

.sideBarTab .element{
	width: 70px;
	margin-left: 9.09%;
	height: 115px;
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px;
}

.sideBarTab .elementIcon{
	width: 70px;
	cursor: pointer;
	cursor: -webkit-grab;
}

.elementHelper{
	z-index: 5;
	width: 70px;
	height: 70px;
	opacity: 0.5;
}

.elementHelper svg{
	fill: #5E97CA;
}

.sideBarTab .ui-draggable-dragging{
	opacity: 0.5;
	z-index: 4;
}

.sideBarTab .elementLabel{
	text-align: center;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px dashed #b0b0b0;
}

.sideBarTab label{
	display: block;
	padding-bottom: 5px;
	margin-top: 10px;
}

.sideBarTab label svg{
	height: 12px;
    padding: 0px 0 0 9px;
}

.sideBarTab input, .sideBarTab textarea{
	width: 100%;
	margin-bottom: 10px;
}

.sideBarTab textarea{
	height: 100px;
}

.sideBarTab .nicEdit-main{
	background-color: #fbfbfb;
}

.sideBarTab .radio{
	width: auto;
	margin-right: 10px;
}

.sideBarTab .listInput{
	width: 85%;
}

.sideBarTab .deleteLiButton{
	width: 10%;
}

.sideBarTab .elementButton{
	display: inline;
	margin: 0px 0px 10px 5px;
    padding: 4px 5px 1px 5px;
}

#inspection #scrippsEmbedGeneratorWrapper{
	height: 483.5px;
	width: 532px;
	overflow: hidden
}

#inspection #scrippsEmbedGenerator{
	height: 967px;
	width: 532px;
	-ms-zoom: 0.5;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.5);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	-webkit-transform-origin: 0 0;
}

.sideBarTab .elementButton::-moz-focus-inner{
    padding: 4px 5px 1px 5px;
}

.sideBarTab .elementButton svg{
	width: 15px;
	height: 16.5px;
}

.sideBarTab .carouselSlideContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid #b3b3b3;
	margin-bottom: 12px;
	padding-bottom: 12px;
}

.sideBarTab .carouselSlide{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-right: 15px;
}

.sideBarTab .carouselSlide input{
	display: block;
}

.sideBarTab .carouselSlide input:first-child{
	margin-bottom: 10px;
}

.sideBarTab .carouselSlide .deleteSlide{
	height: 18px;
	width: 12px;
	box-sizing: content-box;
	display: block;
}

#settings label{
	display: inline;
}

#settings #refreshButton{
	display: inline;
    margin: 0px 0px 3px 5px;
    padding: 4px 5px 1px 5px;
    float: right;
}

#settings #refreshButton svg{
	width: 15px;
}

#credits{
	text-align: center;
	font-size: 11px;
}

#pageContent{
    width: auto;
    margin-left: 300px;
}

.container div{
	cursor: pointer;
}

.container .about:hover{
	box-shadow: none;
}

.container #dropLocation{
	width: 100%;
	height: 100px;
	margin: 0 auto 10px;
	max-width: 650px;
	background: url('../img/placementBkgn.gif');
}

.emptyDiv{
	border: 2px dashed black;
	height: 200px;
	margin: 5px auto;
	max-width: 650px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.emptyDiv svg{
	opacity: 0.5;
	width: 70px;
	height: 70px;
}

#emptyDroppable{
	text-align: center;
	cursor: default;
}

.big .scrippsVideoEmbed:before{
	height: 200px;
}

.small .scrippsVideoEmbed:before{
	height: 100px;
}

.scrippsVideoEmbed:before{
	background: url('../img/scrippsVideoPlaceholder.gif');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	content: '';
	border: 2px dashed black;
	display: inherit;
}

.closeContainerDiv, .openContainerDiv{
	display: none;
}

.container #sortable-helper{
	margin: 0px;
}

.container .ui-sortable-placeholder:empty{
	min-height: 0px;
}

.container iframe{
	pointer-events: none;
}

.modalWrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10% 30% 20% 30%;
	background-color: rgba(0,0,0,0.5);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.modal{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	display: -webkit-box;       
	display: -ms-flexbox;      
	display: -webkit-flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	background-color: #ececec;
	min-width: 225px;
	min-height: 300px;
	box-sizing: border-box;
}

.modal h2{
	margin: 0;
	text-align: center;
}

.modal textarea{
	-moz-flex-grow: 4;
	-ms-flex-grow: 4;
	-webkit-box-flex: 4;
	    -ms-flex-positive: 4;
	        flex-grow: 4;
}

.modal input, .modal textarea{
	border: 1px solid #c1c1c1;
	padding: 2px;
}

.modalNav{
	border-bottom: solid 1px #a6a6a6;
	margin: 10px 0px;
    padding-bottom: 6px;
}

.modalNav h4{
	display: inline;
	cursor: pointer;
	margin-right: 30px;
	padding-bottom: 4px;
}

.modalNav h4.active{
	border-bottom: 3px solid #5E97CA;
}

.modalContent{
	-webkit-box-flex: 4;
	    -ms-flex-positive: 4;
	        flex-grow: 4;
	-webkit-flex-grow: 4;
	-moz-flex-grow: 4;
	-ms-flex-grow: 4;
	display: flex;
	display: -webkit-box;       
	display: -ms-flexbox;      
	display: -webkit-flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
}

.modalTab{
	display: flex;
	display: -webkit-box;       
	display: -ms-flexbox;      
	display: -webkit-flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}


#importModal-dropFile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    border: 2px dashed black;
    text-align: center;
}

.modalFooter{
	display: flex;
	display: -webkit-box;     
	display: -ms-flexbox;      
	display: -webkit-flex;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	        flex-direction: row-reverse;
	border-top: solid 1px #a6a6a6;
    margin-top: 10px;
    padding-top: 10px;
}

.modalFooter button{
	margin-left: 10px;
	cursor: pointer;
}

.modalTooltip{
	position: absolute;
    top: 56px;
    right: 37px;
    display: inline-block;
    padding: .2em .4em;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.7);   
	box-sizing: border-box; 
	-webkit-tap-highlight-color: transparent;
}
.modalTooltip:before, .modalTooltip:after{
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #fff;
    bottom: -.3em;
    content: "";
    left: 50%;
    margin-left: -.4em;
    position: absolute;
}
.modalTooltip:before{
	border-top-color: rgba(0,0,0,.4);
	margin-left: -.2em;
    bottom: -.4em;
}

@media (max-width: 768px) {
.modalWrapper {
  padding: 0px; } }

@media (max-height: 400px) {
.modalWrapper {
  padding: 0px; } }

.longform .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .longform .container:before, .longform .container:after {
    content: " ";
    display: table; }
  .longform .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .longform .container {
      width: 562.5px; } }
  @media (min-width: 992px) {
    .longform .container {
      width: 727.5px; } }
  @media (min-width: 1200px) {
    .longform .container {
      width: 877.5px; } }


.longform h1.headline {
    margin-top: 0 !important; }

.longform .header {
    margin-top: 0px !important;}
